* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --index: calc(1.3vw + 1.3vh);
  --logo-size: 20vh;
  --logo-half-size: 10vh;
}
/* PRELOADER start here */
.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: rgb(208,133,214);
  background: linear-gradient(142deg, rgba(208,133,214,1) 0%, rgba(227,138,53,0.2873303167420814) 100%);
  position: relative;
  transition: 0.5s;
}

.preloader__img-animated {
  position: absolute;
  transition: 1s linear;
  animation: rotation 3s infinite;
}

.preloader__thumb {
  height: 20vh;
  width: auto;
}

@keyframes rotation {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}



/* PRELOADER end here */
.main-header {
  position: relative;
}

.layers {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  /* overflow: hidden; */
  position: relative;
}

.layer {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  will-change: transform;
  z-index: 2;

}

.layers__base {
  /* transition: 0.2s; */
  z-index: 0;
  transform: translate3d(0, calc(var(--scrollTop)/1.4), 0);
}

.layers__middle {
  /* transition: 0.50ms; */
  transform: translate3d(0, calc(var(--scrollTop)/2.2), 0);
}

.layers__front {
  /* transition: 0.50ms; */
  transform: translate3d(0, calc(var(--scrollTop)/4), 0);
}

.layers__header {
  z-index: 1;
  transform: translate3d(0, calc(var(--scrollTop)/1.7), 0);
  text-transform: uppercase;
  font-weight: 900;
  color:blanchedalmond;
  text-shadow: 0 0 15px rgb(252, 240, 223);
}

.layers__caption {
  font-size: var(--index);
}

.layers__title {
  font-size: calc(var(--index)/1.5);
  letter-spacing: calc(var(--index)/4);
}

.main-article__content {
  min-height: 100vh;
  overflow: hidden;
  color:beige;
  font-size: calc(var(--index) / 3 );
  display: flex;
  justify-content: center;
  align-items: center;
}

.first_container {
  width: 50vw;
  margin: 6vw;
  padding: 2vh;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.second_container {
  width: 70vw;
  padding: 2vw;
  padding: 2vh;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

/* Main article start here */
.main-article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 1000px;
  color: blanchedalmond;
}

.main_article-wrapper {
  max-width: 85vw;
}

.main-article__grid {
  display: flex;
  flex-wrap: wrap;

  /*display: grid;*/
  /*grid-template-columns: repeat(2, 1fr);*/
  /*grid-column-gap: 10vw;*/
  /*align-items: center;*/
}

.main_article__about {
  background: rgba(40, 40, 40, 0.6);
  border-radius: 5%;
  padding: 3vw 3vw 3vw 3vw;
  margin: 1vw 1.5vw 1.5vw 1.5vw;
  width: 40vw;
  min-width: 400px;
  text-align: justify;
}

.main-article__about-title {
  font-size: 5.5vh;
  padding-bottom: 2vh;
  text-align: center;
}

.main-article__about-desc {
  font-size: 2.3vh;
}

.main__article-exp {
  background: rgba(40, 40, 40, 0.6);
  border-radius: 5%;
  padding: 3vw 3vw 3vw 3vw;
  width: 40vw;
  min-width: 400px;
  text-align: justify;
}

.main__article-expirience{
  text-align: center;
}

.main__article-exp-title {
  font-size: 5.5vh;
  padding-bottom: 2vh;
  text-align: center;
}

.main__article__job {
  text-align: center;
  font-size: 2.6vh;
  padding-bottom: 1.5vh;
}

.main__article__tasks {
  padding-bottom: 2vh;
  font-size: 2.3vh;
}
/*.main-article__header {*/
/*  font-size: var(--index);*/
/*  text-align: center;*/
/*}*/

/*h2 p {*/
/*  padding: 2vh;*/
/*  text-align: justify;*/
/*  font-size: calc(var(--index)/2.3);*/
/*}*/

/*h3 {*/
/*  padding-top: 2vh;*/
/*  font-size: calc(var(--index)/1.6)*/
/*}*/

/* Main article end here */
